<div class="card">
    <div class="card-header">
      <p class="card-caption">Location</p>
      <h4 class="card-title">Where is Dust Slinger?</h4>
    </div>
    <div class="card-body">
      <p class="caption">Your Cowboy is 13 km away.</p>
  
      <div class="maps-image-container">
        <img
          src="assets/maps_mock.jpg"
          alt="Maps image"
        />
      </div>
    </div>
    <div class="card-actions">
      <div class="card-action">
          <a href="#" class="card-action-text">
              More information 
          </a>
           <mat-icon class="card-action-icon">
              arrow_forward_ios
           </mat-icon>
      </div>
    </div>
  </div>
  